h2 id="rubrik" = @result["Name"]

div id="edit_button"
    a href="/champions/edit/#{@result["Cahmpion_Id"]}" Edit Build
    
h3 = @items['Item1']
h3 = @items['Item2']
h3 = @items['Item3']
h3 = @items['Item4']
h3 = @items['Item5']
h3 = @items['Item6']